
@media (min-width: 1600px) {


 /* ====================== Home - Page ====================== */

    /* Home Page - Hero Section */

    .hero_section {
        padding: 120px 0 170px 0;
    }

    /* Home Page - Low Month */

    .low_month {
        padding: 170px 0 140px 0;
    }

    /* Home Page - Services bottom */

    .alignment_end {
        justify-content: end !important;
    }



}

@media (min-width: 1228px) {
    .still_have .col-lg-3 {
        width: 20%;
    }
}





/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1355px;
    }


 /* ====================== Home - Page ====================== */
    
    /* Home Page - How Section */

    .how_section {
        background: url('assets/imgs/how_bg.webp') no-repeat left / cover;
    }

    
/* ====================== About Us - page ====================== */
    /* What is Park My Phone */
    .whatispmp_bg {
        background-position: 20%;
    }


/* ====================== Ready To Get Started - Component ====================== */

    /* Ready To Get Started Component */
    .ready_left_column {
        padding-left: 10px;
    }    

    
    





}







/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    /* Navbar */

    nav .navbar-nav .nav-item .nav-link {
        font-size: 14px;
    }

    nav .custom_buttons {
        display: none;
    }


 /* ====================== Home - Page ====================== */

    /* Home Page - Hero Section */

    .hero_section .hero_content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .hero_section .hero_content h4 {
        font-size: 36px !important; 
    }
    .hero_section .hero_content p {
        font-size: 20px !important;
    }
    .hero_section .hero_content .custom_btn {
        font-size: 16px !important;
    }

    /*  Home Page - Get Started Sections */

    .get_started_one {
        flex-direction: column;
    }
    .get_one_content {
        padding-top: 0;
    }
    .get_started_one .get_one_content h4 {
        font-size: 18px;
    }
    .get_started_one .get_one_content p {
        font-size: 16px;
    }
    .get_started_one .get_one_icon img {
        width: 140px;
        height: 140px;
    }


    /* Home Page - Services */

    .services .services_img_container .services_three_bg {
        display: none;
    }








    /* Footer */

    footer .footer_last_sec {
        padding-left: 0px !important;
    }




}









/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .hero_section, .testimonials_hero, .about_hero {margin-top: 75px;}



    /* Header  */

    .hero_section {
        padding: 150px 0 100px 0;
    }

    .header .navbar-nav .nav-item {
        width: 100%;
    }
    .header .navbar-nav .nav-item .nav-link {
        width: 100%;
        height: 60px;
    }

    nav .custom_buttons {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        padding-top: 25px;
        margin-bottom: 20px;
        border-top: 1px solid;
        color: #eae9e9;

    }

    .navbar-nav .nav-item .nav-link {
        justify-content: center;
        height: 60px;
        font-weight: 500;
    }

    .navbar-toggler-icon {
        filter: brightness(0) invert(1);
    }
    .navbar-toggler {
        padding: 1.4rem 1.6rem;
        background-color: #1b75bc !important;
        position: relative;
        right: -12px;
        border-radius: 0;
    }
    
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        color: var(--secondary-color);
        border-color: none;
        box-shadow: none;
    }
    
    nav .active {
        background-color: transparent !important;
    }










 /* ====================== Home - Page ====================== */


    /* Hero Section */

    .hero_section .hero_content {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 520px;
    }
    .hero_section .hero_content h4 {
        font-size: 36px;
    }
    .hero_section .hero_content p {
        font-size: 20px;
    }


    /* Get Started Section */

    .get_started_one .get_one_icon img {
        width: 120px;
        height: 120px;
    }


    /* Testimonials  */

    .swiper {
        overflow: hidden;
    }


    /* Services */

    .services_bottom .services_bottom_content_two{
        padding-top: 30px !important;
        padding-bottom: 20px !important;
    }


    /* FAQS */

    .faqs {
        padding-bottom: 100px;
    }
    
    .accordion_custom {
        margin-top: 120px;
    }

    .accordion-button {
        font-size: 16px;
        padding: 30px 30px 20px 40px;
    }

    .accordion-body {
        font-size: 12.5px !important;
        padding-left: 40px;
    }

    .faqs .accordion-item .custom_faq {
        padding: 15px 0 35px 40px;
    }

    .faqs .accordion-item .more_faqs {
        font-size: 12.8px !important;
    }

    /* Home Page Ended */





 /* ====================== Testimonials - Page ====================== */

    .testimonials_hero {
        margin-top: 0px;
        padding-top: 50px;
        background-position: 75%;
    }
    .ready_get .ready_right_column {
        padding-left: 10px;
    }



        
}




/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

 /* ====================== Home - Page ====================== */

    /* Hero Section */

    .hero_section .hero_content {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .hero_section .hero_content h4 {
        font-size: 18px;
    }
    .hero_section .hero_content p {
        font-size: 12px;
    }
    .hero_section .hero_content .custom_btn {
        font-size: 12px;
    }
    

    /* Get Started */

    .get_started_one {
        text-align: center;
    }

    .get_started_one .get_one_icon img {
        margin-left: 8px !important;
    }

    .box_line_height {
        transform: rotate(90deg);
    }

    /* Low month Section */

    .low_month .low_month_section .boxstyling{
        transform: scale(0.8);
    }


    /* Services */
    
    .services .services_img_container .services_three_bg {
        display: block;
    }

    .services_three_bg img {
        width: 200px;
    }




 /* ====================== About us - Page ====================== */


    /* Call Fowarding and Fax Saving */

    .whatispmp_all .whatispmp_all_img {
        width: 600px;
    }

    /* Make Call Section */
    .makecall_section .makecall_section_img {
        width: 400px;
    }






    /* Footer */

    footer .footer_last_sec {
        padding-left: 60px;
    }


}






/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

/* =========  Hero_Sections Component - Start ============*/
    .hero_section {
        margin-top: 75px;
        padding: 0;
    }
    .hero_section .hero_content{
        padding: 0 20px;
    }
    .hero_section .hero_content h5{
        margin-top: 20px;
        color: #00e5ff;
    }
    .hero_section .hero_content a{
        margin-top: 20px;
    }
    .hero_content_slidebg {
        position: relative;
        z-index: 1;
        text-align: center;
        background-blend-mode: overlay;
        background-color: #2169dd83;
        border-radius: 0;
        padding: 0px;
        padding-right: 0px;
    }
    .hero_content_slidebg::before {
        background-blend-mode: overlay;
        background-color: #216add63;
    }

    .about_hero .hero_content {
        padding: 50px 10px;
    }

    .about_hero .hero_content p{
        margin: 0;
    }

    .testimonials_hero {
        margin-top: 75px;
        padding: 0;
    }
    .testimonials_hero .testimonials_hero_content {
        padding: 40px 20px;
    }
    .testimonials_hero .testimonials_hero_content p{
        margin: 0;
        width: 100%;
    }


/* Hero_Sections Component - End */









 /* ====================== Home - Page ====================== */

    /* Hero Section */

    .hero_section .hero_content {
        width: 190% !important;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .hero_section .hero_content h4 {
        font-size: 30px !important; 
    }
    .hero_section .hero_content p {
        font-size: 18px !important;
    }
    .hero_section .hero_content .custom_btn {
        font-size: 14px !important;
    }
    .hero_section .hero_content .custom_btn img{
        height: 20px;
    }

    /* Get Started Sections */

    .get_stated_center {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .get_stated_center .box_line {
        margin: 70px 0 !important;
    }

    .why_section .why_col {
        flex-direction: column;
        text-align: center;
    }

    

    /* Low month Section */

    .low_month {
        background: url(/assets/imgs/lowmonth_bg.webp) no-repeat left / cover;
    }

    .low_month .boxstyling_main {
        margin-left: -70px;
    }

    .low_month .low_month_section .boxstyling{
        transform: scale(0.7) !important;
    }

    .low_month .low_month_section .custom_btn {
        font-size: 14px;
    }

    .low_month .low_month_section .low_month_para{
        font-size: 18px;
    }

    .low_month .low_month_section h4 {
        font-size: 26px;
        padding-left: 150px;
    }

    .low_month a {
        margin-left: 80px;
    }

    .low_month_para {
        padding: 0;
        padding-top: 20px;
        margin-left: 65px;
    }



    /* Services Section */

    .services_column_one .services_icon img {
        width: 60px;
    }

    .services_column_one .services_content h4 {
        font-size: 18px;
    }

    .services_column_one .services_content p {
        font-size: 14px;
    }

    .services_bottom .services_bottom_content img {
        width: 80px !important;
    }

    .services_bottom_content_two p {
        font-size: 18px;
    }

    .services_bottom_content_two .custom_btn {
        font-size: 16px;
    }

    .services_bottom_content_two .custom_btn svg{
        width: 40px !important;
        height: 40px;
    }


    /* services_bottom */

    .services_bottom .services_bottom_content h1 {
        font-size: 30px;
    }



    /* FAQs  */

    .accordion-body {
        padding-bottom: 20px;
    }



    /* Signup Section */

    .signup .signup_content_one h2 {
        font-size: 40px;
    }

    .signup .signup_content_one p {
        font-size: 14px;
        width: 80%;
    }

    .signup_content_two {
        flex-direction: column;
        align-items: start;
    }

    .signup .signup_content_two .custom_btn{
        font-size: 12px;
    }

    .signup .signup_content_two p{
        font-size: 14px;
        padding-left: 10px;
    }



    /* How ParkMyPhone Works - Section */

    .how_section .how_columns_price {
        padding-left: 20px;
    }

    


    /* Ready To Get Started Component */
    .ready_sec_para_one {
        margin: 0 40px 0 0;
    }



/* =========== Testimonials Page =========== */

    .testimonials_hero .bg_overlay {
        background-blend-mode: overlay;
        background-color: #216add63;
    }

    .testimonials_hero .testimonials_hero_content p{
        color: var(--other-cyan);
    }






/* =========== About Us Page =========== */

    /* Aboutus Page => Call Fowarding and Fax Saving */

    .whatispmp_all .whatispmp_all_img {
        width: 400px;
    }
    

}









/* Other Resolutions */


@media (max-width: 400px) {

 /* ====================== Home - Page ====================== */

    /* Law Month Section */

    .low_month .boxstyling_main {
        margin-left: -70px;
    }

    .low_month .low_month_section .boxstyling{
        transform: scale(0.62) !important;
    }

    .low_month .custom_btn {
        margin-left: 100px;
        font-size: 12px !important;
    }

    .low_month .low_month_section h4 {
        padding-left: 140px;
    }

    .low_month_para {
        padding: 0;
        font-size: 18px !important;
        padding-top: 20px;
    }


    /* FAQS */


    .faqs {
        /* padding-bottom: 0px !important; */
        background: url('assets/imgs/faqs_bg4.webp');
        height: 930px !important;
        padding: 10px 0 50px 0;
    }

    .faqs_main .faqs .sec_heading {
        display: block;
    }
    
    .accordion_custom {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .accordion-button {
        font-size: 16px;
        padding: 30px 30px 20px 40px;
    }

    .accordion-body {
        font-size: 12.5px !important;
    }

    .faqs .accordion-item .custom_faq {
        padding: 15px 0 35px 40px;
    }

    .faqs .accordion-item .more_faqs {
        font-size: 12.8px !important;
    }

    .faqs .sec_heading h3 {
        width: 200px;
        text-align: left;
        font-size: 48px;
        font-weight: 700;
        padding: 0;
        padding-top: 30px;
        margin: 0;
    }

    /* Signup  */
    .signup {
        padding-bottom: 30px;
    }



}





@media (max-width: 340px) { 

/* ====================== Home - Page ====================== */

    .low_month .boxstyling_main {
        margin-left: -90px;
    }
    
    .low_month .custom_btn {
        margin-left: 75px;
    }

    .low_month_para {
        margin-left: 45px;
    }

    /* Testimonials */

    .testimonials .sec_heading h3 {
        width: auto;
        font-size: 30px;
    }


}



@media (max-width: 375px) { 

 /* ====================== Home - Page ====================== */

    /* Testimonials */

    .testimonials .sec_heading h3 {
        width: auto;
        font-size: 30px;
    }


}